/* Flat Colors Based On: http://flatuicolors.com */

// Turqoise
$turquoise:      = '#1abc9c'; // Lighter
$green_sea:      = '#16a085'; // Darker

// Greens
$emerald:        = '#2ecc71'; // Lighter
$nephritis:      = '#27ae60'; // Darker

// Blues
$peter_river:    = '#3498db'; // Lighter
$belize_hole:    = '#2980b9'; // Darker

// Purples
$amethyst:       = '#9b59b6'; // Lighter
$wisteria:       = '#8e44ad'; // Darker

// Navys
$wet_asphalt:    = '#34495e'; // Lighter
$midnight_blue:  = '#2c3e50'; // Darker

// Yellows
$sun_flower:     = '#f1c40f'; // Lighter
$orange:         = '#f39c12'; // Darker

// Oranges
$carrot:         = '#e67e22'; // Lighter
$pumpkin:        = '#d35400'; // Darker

// Reds
$alzarin:        = '#e74c3c'; // Lighter
$pomegranate:    = '#c0392b'; // Darker

// Whites
$clouds:         = '#ecf0f1'; // Lighter
$silver:         = '#bdc3c7'; // Darker

// Greys
$concrete:       = '#95a5a6'; // Lighter
$asbestos:       = '#7f8c8d'; // Darker
